*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background: yellow;
    margin-top: 30%;
    padding: 1rem;
    border-radius: 10px;
    min-width: 400px;
}

.timer {
    position: absolute;
    top: 3rem;
    font-size: 3rem;
    color: yellow;
}

.quote-display{
    margin-bottom: 2rem;
    font-family: sans-serif;
}

.quote-input{
    background: transparent;
    outline: none;
    width: 100%;
    height: 200px;
    resize: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
}

.quote-input:focus {
    border: 2px solid black;
}
