@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(7, 128, 249, 0.975);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 15px;

}
header {
    text-align: center;
    font-weight: 500;

}

.input_field {
    width: 100%;
    padding: 15px 0; 
    position: relative; 
    
    
   
}

.input_field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    padding-left: 30px;
    outline: none;
  
}

.input_field input:focus{

}

.search-icon ,.cross {
    position: absolute;
    padding: 15px 0;
    
}
.search-icon {
    top: 0;
    margin: 12px 8px;
    color: grey;
    font-size: 13px;
}

.cross {
    top: 0;
    right: 0;
    margin: 11px 12px;
    color: gray;
    cursor: pointer;
    display: none;
}

.active {
    display: block;
}

.msg {
    font-size: 10px;
    font-weight: 500;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.result-wrapper{
    opacity: 0;
    transition: all ease 0.3s;
    display: none;

}

.result-wrapper.active {
   opacity: 1;
   display: block;

}
.input_text {
    display: flex;
    flex-direction: column;
}

.input_text p {
    font-size: 10px;
}

.sound{
    color: grey;
    font-size: 10px;
    cursor: pointer;
}

.desc {
    border-top: 1px solid rgb(215, 207, 207);
}

.desc p {
    font-size: 12px;
    font-weight: 500;
    position: relative;
}

.desc span {
    color: gray;
    font-size: 12px;
}

